
h2 {
	margin-top: -23px !important;
	color: #FF5722 !important;
}
#print {
	padding: 30px;
    background-color: rgba(241, 244, 244, 0.43) !important;
    margin-top: 30px;
}
.panel-default {
    border-color: #fff !important;
    box-shadow: 1px 1px 6px 0px #c7c7c7 !important;
}
address {
	margin-bottom: 15px !important;
    margin-top: -10px !important;
}
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}